#about {
    display: flex;
    justify-content: flex-start; /* Align items to the top */
    flex-direction: column;
    width: 100%;
    background-color: #ededed; /* Set background color */
}
.bio-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
}
.personal-info {
    flex: 1;
    max-width: 20%;
}
.personal-info ul {
    list-style: none;
    padding: 0;
}
.personal-info li {
    margin-bottom: 10px;
}
.biography {
    flex: 2;
    max-width: 65%;
    font-size: 22px;
}
.biography p {
    margin: 0;    
}
