.experience-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.circle-line::before, .circle-line::after {
    content: '';
    position: absolute;
    left: 28.5%;
    transform: translateX(-50%);
}

.circle-line::before {
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.circle-line::after {
    top: 20px;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.experience-left {
    text-align: right; /* Align text to the right */
    padding-right: 20px;
    max-width: 27%; /* Adjusted for equal spacing */
    flex: 1;
}

.experience-right {
    text-align: left; /* Align text to the left */
    padding-left: 20px;
    max-width: 70%; /* Adjusted for equal spacing */
    flex: 1;
}
