body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FDFFFC;
    color: #0A0903;
}
.background {
    width: 100%;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7B1E7A;
    color: #FDFFFC;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
header img {
    height: 50px;
}
nav {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
nav a {
    color: #FDFFFC;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.contact-link {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.contact-link a {
    color: #FDFFFC;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.content-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 80px 20px; /* To avoid overlap with header */
    border-bottom: 2px solid #FF0000;
}
.main-image {
    max-width: 100%;
    height: auto;
}
.quote {
    position: absolute;
    right: 20px;
    font-style: italic;
    color: #555;
    width: 200px;
}
.name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
.job-title {
    font-size: 18px;
    color: #555;
}
